Problem 1: Controls

In [30]:
import re #import regular expresions

import os #import comads to close delete the files at the end, found in internet

germplasm = open("Germplasm.tsv", "r") 
germplasm.seek(0) #this take the reading frame to the fist line of the file

for line in germplasm.readlines():
    at = re.search(r'at[0-5]g[0-9]{5}', line, re.I) #I use re.I to find case insensitive answers
    if at:
        atgermplasm = open("AtGermplasm.txt", "a") 
        atgermplasm.write(at.group())
    else:
        pass

atgermplasm.close()

checkcontent1 = open("AtGermplasm.txt", "r") 

  # print the content of the file


locusgene = open("LocusGene.tsv", "r")
locusgene.seek(0)

for line in locusgene.readlines():
    at = re.search(r'at[0-5]g[0-9]{5}', line, re.I)
    if at:
        atlocusgene = open("AtLocusGene.txt", "a") 
        atlocusgene.write(at.group())
    else:
        pass

atlocusgene.close()

checkcontent2 = open("AtLocusGene.txt", "r") 

 # print the content of the file


for line1 in checkcontent1: #I've created two .txt files with all the info in one line, so I define the lines 2 cases 
      for line2 in checkcontent2:
         if line1==line2:
            print ("same") #if the text is the same in both files, I will see "same" 
         else:
            print ("different") #I found this structure very similar in the internet, 

            
            
checkcontent1.close()
checkcontent2.close()

        
os.remove("AtGermplasm.txt") #using os comands to remove the five I don't acumulate the same info each run and Use this only to test 
os.remove("AtLocusGene.txt")

same

Problem 2: Design and create the database

In [31]:
#answer 2 , I need to create my database in sql and conect with the terminal
%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [32]:
%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
6 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

In [34]:
%sql create database germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[]

In [35]:
%sql use germplasm; #going inside the database to create the tables

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [36]:
%sql CREATE TABLE germplasm(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, locus VARCHAR(15) NOT NULL, germplasm VARCHAR(30) NOT NULL, phenotype VARCHAR(500) NOT NULL, pubmed VARCHAR(30))
#I create the first table like this to put inside the data from germplasm file, choosing not null for all of them, and varchar dor the mumber of caracters I stimate

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [37]:
%sql CREATE TABLE locusgene(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, locus_id VARCHAR(15) NOT NULL, gene VARCHAR(15) NOT NULL, protein_length INTEGER NOT NULL)
#I do the same here but changing the name of the locus column, this one is going to let me connect both tables

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [38]:
%sql show tables; #Only to see if the tables are there

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('germplasm',), ('locusgene',)]

In [39]:
%sql select * from germplasm #Only to see if the tables are correct

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [40]:
%sql select * from locusgene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

Problem 3: Fill the database

In [42]:
#to wok in python3 I have to import aun connect pymysql
import pymysql.cursors
import re

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  
#once connected, I writte the function to put inside the firs thable (germplasm) the data.
def write_to_germplasm(db,loc,germ,phen,pub):
    loc = loc.strip()
    germ = germ.strip()
    phen = phen.strip()
    pub = pub.strip()
    
    try:
        with db.cursor() as cursor:
            sql = "INSERT INTO germplasm(locus,germplasm,phenotype,pubmed) VALUES ('{}','{}','{}','{}')".format(loc, germ, phen, pub)
            cursor.execute(sql)
            db.commit() 
                        
    except Exception as e:
        print("INSERT FAILED")
        return False
    
    finally:
        return True
#now I fave to create the function to put inside the second table all the data
def write_to_locusgene(db,loc, gene, protein):
    loc = loc.strip()
    gene = gene.strip()
    protein = protein.strip()
    
    try:
        with db.cursor() as cursor:
            sql = "INSERT INTO locusgene(locus_id,gene,protein_length) VALUES ('{}','{}','{}')".format(loc, gene, protein)
            cursor.execute(sql)
            db.commit() 
                        
    except Exception as e:
        print("INSERT FAILED")
        return False
    
    finally:
        return True
    
#to avoild the problem with the firs line of the documents, I've created two wen files using the command tail -n +2, so Ican put only data usefull inside the tables
#this new documents are LocusGene_temp.tsv and Germplasm_temp.tsv

#now I have to open the files to select the data in order with the adecuate selecction. This file are .tsv so there is a tab between each data and I will need to use regular expresions too    
    
    
f1 = open("Germplasm_temp.tsv", "r")
f1.seek(0)   # set pointer back to the beginning in case we have run this before

for line in f1.readlines():
    line = line.rstrip()
    locus, germplasm, phenotype, pubmed = line.split('\t')
    if write_to_germplasm(connection,locus, germplasm, phenotype, pubmed):
        print("GERMPLASM ENTRY WRITTEN")
    else:
        print("WRITE FAILED")
        
f2 = open("LocusGene_temp.tsv","r")
f2.seek(0)

for line2 in f2.readlines():
    line = line.rstrip()
    locus_id, gene, protein_length = line2.split('\t')
    
    if write_to_locusgene(connection,locus_id, gene, protein_length):
        print("LOCUSGENE ENTRY WRITTEN")
    else:
        print("WRITE FAILED")
        


f1.close()
f2.close()
connection.close()

GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
GERMPLASM ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN
LOCUSGENE ENTRY WRITTEN

In [ ]:
import pymysql.cursors
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  
                             cursorclass=pymysql.cursors.DictCursor)

#connection.autocommit = False

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "create database testing123"
        cursor.execute(sql)

finally:
    print("")
    connection.close()

Problem 4: Create reports, written to a file¶

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '> ahi.csv' at line 1")
[SQL: SELECT * FROM germplasm, locusgene WHERE germplasm.locus = stock.id | > ahi.csv]
(Background on this error at: http://sqlalche.me/e/f405)